*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
}
.conteiner{
    width: 1400px;
    margin: 0 auto;
}
.box{
    background: url(bagraund.jpg)center/cover no-repeat;
    padding-top: 18px;   
}
.line{
    width: 32px;
    height: 5.5px;
    background-color: white;
    border-radius: 1px;
}
.line2{
    width: 22px;
    height: 5.5px;
    background-color: white;
    border-radius: 1px;
    margin:5.4px 0 ;
}
.heder{
    display: flex;
    justify-content: space-between;
}
.box button{
width: 110px;
height: 40px;
background: transparent;
border: 1px solid white;


}
.maine ul{
    display: flex;
   justify-content: center;
   column-gap: 10px;
   font-size: 20px;
}
.maine{
    text-align: center;
    margin-top: 212px;
}
.maine h1{
    text-transform: uppercase;
    font-size: 100px;
}
.maine p{
    font-size: 20px;
    margin: 49px 0px 30px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 220px;
    margin-bottom: 20px;
    
} 
.footer_left img{
    width: 25px;
    height: 34px;
}